@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #ffd1f0, #c4d0f4);
  font-family: 'Varela Round', sans-serif;
}

.demo-title {
  padding: 20px 0;
  background: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.demo-subtitle {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.app-container {
  padding: 20px;
}

.demo-container {
  padding: 0 20px;
}

.loader {
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  margin: 10px;
  flex: 50%;
}

pre {
  white-space: pre-wrap;
  width: 50vw;
}

a {
  text-decoration: none;
  color: inherit;
}

a.nav {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.newsFeed {
}

.newsFeed .header {
  background: #1a1c1d;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: large;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
}

.story {
  cursor: pointer;
  background: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.story:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  opacity: 1; /* show the hover shadow */
}

.story .title {
  font-weight: bold;
}

.story .text {
  margin: 20px 0;
  font-weight: normal;
  font-family: serif;
  white-space: pre-wrap;
}

.story .comments {
  color: dimgrey;
  margin-top: 5px;
  font-size: small;
}

.story .comments .comment {
  padding-left: 20px;
}
